/* sm */

@media (min-width: 640px){

    .gallery .container{
        margin: 50px 0px;
        padding: 60px 30px;
       }

       .google .container{
        text-align: center;
        padding: 70px 50px ;
    }

    .item{
        margin: 15px 0px;
    }

    .footer .container{
        margin: 0px 30px;
    }

    .btn2{
        display: flex;
        flex-direction: row;
     
     
    }

    .btn2 button{
    
      position: relative;
     
    }

    .btn2 button i{
        position: absolute;
        left: 5px;
      
    }

    .section2 button{
        width: 20%;
        padding: 5px 10px;
      margin: 0px 0px 0px 5px;
    }

    .section2 input{
        width: 80%;
        padding: 10px 0px;
    }
       

}

/* md */

@media (min-width: 768px){
    nav{
       
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       
    }
    .right{
        margin-right: 70px;
    }

    .logo{
        font-size: 30px;
        padding: 0px;
        margin-left: 70px;
        
    }

    .icon{
        font-size: 25px;
        
    }

    .links-container{
        right: -110%;
        width: 400px;
    }
    .open{
       
        padding: 0px;
    }
    .opn{
        width: 25px;
        height: 25px;
    }

    .clse{
        width: 20px;
        height: 20px;

    }

    .close{
        padding: 15px 10px;
    }

    nav a{
        font-size: 17px;
        padding: 15px;
    }

    .Home .container{
        margin: 95px 30px 0px;
        padding: 40px 20px;
    }

    .Home-image{
        width: 80%;
    }


    .Home-content h2{
        width: 60%;
        font-size: 80px;
    }

    .Home-content p{
        font-size: 16px;
        width: 80%;
    }

    .btn-group a{
        font-size: 15px;
    }

    .btn-group .red-btn{
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 35px;
    }

    .chefs .image-container{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 15px 0px 15px;
        gap: 30px;
        
      
        
    }

    .chefs-image{
        width: 47%;
    }

    .image1{
        width: 50%;
        padding: 15px 7px;
    }

    .gallery .container{
        margin: 50px 0px;
        padding: 60px 40px;
       }

    .gallery-images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        height: 1850px;
       
    }

    .item{
        width: 49.1%;
    }

    .google-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .google .container{
        text-align: center;
        padding: 70px 25px ;
    }

    .item{
        margin: 10px 3px;
    }


    .footer .container{
        margin: 0px 70px;
    }

    
    

    

   
}

/* lg */

@media (min-width: 1024px){
    .chefs .image-container{
        padding: 0px 22px 0px 50px;
    }

    .chefs-image{
        width: 30%;
    }

    .gallery .container{
        margin: 50px 0px;
       
       }
       .gallery{
        padding: 60px 50px 60px 0px;
       }
    
    .gallery-images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: flex-start;
        height: 1150px;
        gap: 0;
       
    }
    .image1{
        width: 35%;
    }
    .order{
        display: flex;
       order: 2;
        
    }

    .order1{
        display: flex;
        order: 1;
    }

    .order2{
        display: flex;
        order: 3;
    }

    .order3{
        display: flex;
        order: 4;
    }

    .google-form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .inp{
        width: 48.9%;
       margin: 0px 4.2px;
    }

    .footer .container{
        margin: 0px 20px;
    }

    .btn2 button i{
        position: absolute;
        left: 5px;
      
    }

    .section2 button{
        width: 12%;
        padding: 5px 10px;
      margin: 0px 0px 0px 5px;
    }

    .section2 input{
        width: 87%;
        padding: 10px 0px;
    }
       

    
}

/* xl */
@media (min-width: 1280px){

    nav{
      
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .open{
        display: none;
    }

    .close{
        display: none;
    }
    .logo{
    
        font-size: 30px;
    }

    .icon{
        
        font-size: 25px;
       
    }

    .links-container{
        position: absolute;
        right: 0;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        background-color: transparent;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.30) ;
        flex-direction: row;
        }

        nav a{
            position: relative;
            overflow: hidden;
            text-align: center;
            width: 20%;
            justify-self: baseline;
            padding: 10px 0px;
            font-size: 16px;
        }



       nav a::before{
            content: "";
            height: 1px;
            border: 1px solid  #d85454;
            background-color: #d85454;
            position: absolute;
            bottom: 0px;
            left: -100%;
            transition: all 0.8s;
        }


        nav a:hover::before{
            width: 60%;
            left: 16px;
            
        }

        .Home .container{
            flex-direction: row-reverse;
            flex-wrap: wrap;
            margin: 95px 90px;
            padding: 40px 5px 75px;
           
        }
        .Home-content{
          
            align-items: flex-start;
            justify-content: flex-start;
        
           
        }

        .Home-content h2{
            text-align: left;
            width: 55%;
            font-size: 65px;
        }

        .Home-content p{
            text-align: left;
            width: 80%;
            font-size: 15px;
        }

       

        .Home-image{
            width: 37%;
        }
        
        .Home-content{
            width: 50%;
        }

        .btn-group .red-btn{
            border-top-left-radius: 0;
            font-size: 15px;
            padding: 10px 20px;
        }

        .btn-group a{
            font-size: 15px;
        }

        .chefs .image-container{
            padding: 0px 20px 0px 90px;
        }

        .gallery .container{
            margin: 50px 0px;
            padding: 60px 100px 60px 100px;
           }

        .gallery-images{
            height: 1400px;
        }

        .image1{
            width: 33%;
            
        }


        .google .container{
        
            padding: 90px ;
        }

        .footer .container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 400px;
            margin: 0px 65px;
        
            
           
        }

        .footer .section1{
            width: 25%;
            padding: 0px 25px 0px 0px;
        }

        .footer .section2{
            width:50% ;
            padding: 0px 25px 0px 0px;
        }

        .footer .section3{
            width: 25%;
            padding: 0px px 0px 25px;
        }

        .section1 ul li{
            padding: 0px 25px;
        }

        .btn2 button i{
            position: absolute;
            left: 5px;
          
        }
    
        .section2 button{
            width: 16%;
            padding: 5px 20px;
          margin: 0px 0px 0px 5px;
        }
    
        .section2 input{
            width: 82%;
            padding: 10px 0px;
        }

     
   

    
   

    

    


}

/* 2xl */
@media (min-width: 1536px){
    
}